[submodule "third-party/SDL"]
	path = third-party/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "third-party/implot"]
	path = third-party/implot
	url = https://github.com/epezent/implot.git
[submodule "third-party/imgui.cmake/imgui"]
	path = third-party/imgui.cmake/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third-party/bgfx.cmake"]
	path = third-party/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake.git
