#!/usr/bin/make -f

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DLIVISION_BUILD_SHARED=ON \
		-DLIVISION_BUILD_EXAMPLE=OFF \
		-DLIVISION_COMPILE_SHADERS=OFF \
		-DLIVISION_INSTALL_PRECOMPILED_SHADERS=ON
